.SharePlatform {
  width: 22%;
  cursor: pointer;
}

.SharePlatform .logo_section {
  width: 90%;
  height: auto;
  margin-bottom: 0.1rem;
}

.SharePlatform .name_section {
  font-size: 0.8rem;
  color: gray;
}
