.WaitForReady {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1.25rem;
}

.WaitForReady .versus {
  width: 3.2rem;
  height: auto;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  z-index: 1;
}
