.WaitForOpponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WaitForOpponent .title_section {
  width: 100%;
  text-align: center;
  margin: 1.25rem 0rem 2rem 0rem;
  font-size: 1.125rem;
}

.WaitForOpponent .cardcontent_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WaitForOpponent .share {
  color: #787878;
  cursor: pointer;
}

.WaitForOpponent .copy {
  color: #1abc9c;
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
}
