.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;
}

.Title .logo_section {
  width: 35%;
}

.Title .description_section {
  color: white;
  font-weight: lighter;
  font-size: 1.25rem;
}
