.WaitForReady {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.WaitForReady .versus {
  width: 60px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  z-index: 1;
}
