.QuizSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuizSearch .total {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5a2e20;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1rem;
}

.QuizSearch .total > p {
  padding: 0.5rem;
}

.QuizSearch .search_icon > div {
  background-color: #5a2e20;
  border-radius: 0.3rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.QuizSearch .search_icon :hover {
  background-color: #7a4531;
}

.QuizSearch .search_icon :active {
  background-color: #4a2316;
}

.QuizSearch .search_icon {
  color: white;
}
