.QuizContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

.QuizContent .toolbar_section {
  flex: 0 0 6.5vh;
}

.QuizContent .table_section {
  flex: 1;
}
