.LabelInput {
  display: flex;
  margin: 0.6rem;
}

.LabelInput.horizontal {
  flex-direction: row;
  gap: 0.6rem;
}

.LabelInput.vertical {
  flex-direction: column;
  gap: 0.3rem;
}

.LabelInput .label_section {
  font-size: 1.125rem;
  align-content: center;
  white-space: nowrap;
}
