.LabelInput {
  display: flex;
  margin: 10px;
}

.LabelInput.horizontal {
  flex-direction: row;
  gap: 10px;
}

.LabelInput.vertical {
  flex-direction: column;
  gap: 5px;
}

.LabelInput .label_section {
  font-size: 18px;
  align-content: center;
  white-space: nowrap;
}
