.LabelTextArea {
  display: flex;
  margin: 0.6rem;
}

.LabelTextArea.horizontal {
  flex-direction: row;
  gap: 2.5rem;
}

.LabelTextArea.vertical {
  flex-direction: column;
  gap: 0.3rem;
}

.LabelTextArea .label_section {
  font-size: 1.125rem;
  align-content: center;
  white-space: nowrap;
}
