.Admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: 100vh;
  height: 100vh;
  padding: 0 1vh 1vh 1vh;
}

.Admin .logo_section {
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Admin .logo_section > img {
  width: 12%;
  cursor: pointer;
}

.Admin .content_section {
  height: 91%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0.5vh 1.5vh 1vh 1.5vh;
}

.Admin .content_section .header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
}

.Admin .content_section .header .title {
  text-align: center;
  font-size: 1.5rem;
  flex: 1;
}

.Admin .content_section .header .close {
  cursor: pointer;
}

.Admin .content_section .body {
  display: flex;
  height: 86%;
}

.Admin .content_section .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9%;
  gap: 1rem;
}
