.RoomStatus {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0.5rem;
  height: 100%;
  color: whitesmoke;
  background-color: #80c7d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.RoomStatus .info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.RoomStatus .info .code {
  background-color: #9ad3dd;
  padding: 0.3rem 0.7rem;
  border-radius: 0.8rem;
}

.RoomStatus .info .title {
  max-width: 13rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RoomStatus .quiz_count {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 10%;
}

.RoomStatus .exit {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.RoomStatus .exit .room_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  color: #9ad3dd;
  width: 18rem;
  padding: 1rem;
  border-radius: 0.7rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.RoomStatus .exit .room_info .setting {
  display: flex;
  gap: 1rem;
}

.RoomStatus .exit .room_info .setting .setting_title {
  width: 3.8rem;
  min-width: 3.8rem;
}

.RoomStatus .exit .room_info .setting .setting_value {
  background-color: #9ad3dd;
  color: white;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  min-width: 2.5rem;
  max-width: 3rem;
  text-align: center;
}
